.button{
    background:blue ;
    transition: background 1.2s ease;
}

button:hover{
    background: red;
}



@keyframes slideInLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
.fade { animation: slideInLeft 2s ease-out forwards; }

