.button {
    background: blue;
    transition: background 0.3s ease;
}

.button:hover {
    background: red;
}

.social-icons-v1 a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    background: #64748b;           
    border-radius: 50%;         
    position: relative;            
    overflow: hidden;
    text-decoration: none;         
    transition: color 0.3s ease;
    z-index: 1;                    
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}