.gumbic {
    background: blue;
    transition: background 0.3s ease;
}
.gumbic:hover {
background: red;
} 

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fadeIn { animation: fadeIn 4s ease forwards; }
